.App {
  text-align: center;
}
body{
  background-color: #282c34;
}
.App-header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom:solid 2px  white
}
.App-aside{
  background-color: white;
  width: 20%;
  border: solid 2px black;
  position: relative;
  float: left;
  margin-top: 5%;
  margin-left: 1%;
  min-height: 450px;
}
.App-main{
  background-color: white;
  width: 50%;
  border: solid 2px black;
  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  min-height: 450px;
}
.movieReviewClass{
  min-height: 100px;
}
form input{
  width: 50%;
  text-align: center;
}
aside li{
  list-style: none;
  cursor: pointer;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  overflow: scroll;
}

footer{
  background-color: #282c34;
  border: solid 2px white;
  border-bottom:none; 
  width: 90%;
  margin-left:5%;
  position:absolute;
  bottom: 0;
  min-height: 300px;
  overflow: scroll;
}
footer div{
  font-size: 24px;
  font-weight: 400;
  color: white;
}
